/* byutickets.css */
/* line 9, ../sass/bootstrap/_navs.scss */
.nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}

/* line 16, ../sass/bootstrap/_navs.scss */
.nav > li > a {
  display: block;
}

/* line 20, ../sass/bootstrap/_navs.scss */
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

/* line 27, ../sass/bootstrap/_navs.scss */
.nav > li > a > img {
  max-width: none;
}

/* line 32, ../sass/bootstrap/_navs.scss */
.nav > .pull-right {
  float: right;
}

/* line 37, ../sass/bootstrap/_navs.scss */
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

/* line 48, ../sass/bootstrap/_navs.scss */
.nav li + .nav-header {
  margin-top: 9px;
}

/* line 57, ../sass/bootstrap/_navs.scss */
.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}

/* line 63, ../sass/bootstrap/_navs.scss */
.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* line 68, ../sass/bootstrap/_navs.scss */
.nav-list > li > a {
  padding: 3px 15px;
}

/* line 73, ../sass/bootstrap/_navs.scss */
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #4477aa;
}

/* line 79, ../sass/bootstrap/_navs.scss */
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}

/* line 83, ../sass/bootstrap/_navs.scss */
.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid white;
}

/* line 94, ../sass/bootstrap/_navs.scss */
.nav-tabs,
.nav-pills {
  *zoom: 1;
}
/* line 15, ../sass/bootstrap/_mixins.scss */
.nav-tabs:before, .nav-tabs:after,
.nav-pills:before,
.nav-pills:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../sass/bootstrap/_mixins.scss */
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

/* line 98, ../sass/bootstrap/_navs.scss */
.nav-tabs > li,
.nav-pills > li {
  float: left;
}

/* line 102, ../sass/bootstrap/_navs.scss */
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

/* line 113, ../sass/bootstrap/_navs.scss */
.nav-tabs {
  border-bottom: 1px solid #ddd;
}

/* line 117, ../sass/bootstrap/_navs.scss */
.nav-tabs > li {
  margin-bottom: -1px;
}

/* line 121, ../sass/bootstrap/_navs.scss */
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
/* line 128, ../sass/bootstrap/_navs.scss */
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}

/* line 135, ../sass/bootstrap/_navs.scss */
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

/* line 148, ../sass/bootstrap/_navs.scss */
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 159, ../sass/bootstrap/_navs.scss */
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: white;
  background-color: #4477aa;
}

/* line 170, ../sass/bootstrap/_navs.scss */
.nav-stacked > li {
  float: none;
}

/* line 173, ../sass/bootstrap/_navs.scss */
.nav-stacked > li > a {
  margin-right: 0;
}

/* line 178, ../sass/bootstrap/_navs.scss */
.nav-tabs.nav-stacked {
  border-bottom: 0;
}

/* line 181, ../sass/bootstrap/_navs.scss */
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 185, ../sass/bootstrap/_navs.scss */
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}

/* line 188, ../sass/bootstrap/_navs.scss */
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}

/* line 192, ../sass/bootstrap/_navs.scss */
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  border-color: #ddd;
  z-index: 2;
}

/* line 198, ../sass/bootstrap/_navs.scss */
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}

/* line 201, ../sass/bootstrap/_navs.scss */
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}

/* line 210, ../sass/bootstrap/_navs.scss */
.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

/* line 213, ../sass/bootstrap/_navs.scss */
.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 220, ../sass/bootstrap/_navs.scss */
.nav .dropdown-toggle .caret {
  border-top-color: #4477aa;
  border-bottom-color: #4477aa;
  margin-top: 6px;
}

/* line 226, ../sass/bootstrap/_navs.scss */
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #114477;
  border-bottom-color: #114477;
}

/* move down carets for tabs */
/* line 231, ../sass/bootstrap/_navs.scss */
.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px;
}

/* line 237, ../sass/bootstrap/_navs.scss */
.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

/* line 241, ../sass/bootstrap/_navs.scss */
.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

/* line 249, ../sass/bootstrap/_navs.scss */
.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus {
  cursor: pointer;
}

/* line 258, ../sass/bootstrap/_navs.scss */
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  color: white;
  background-color: #999999;
  border-color: #999999;
}

/* line 266, ../sass/bootstrap/_navs.scss */
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret {
  border-top-color: white;
  border-bottom-color: white;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 274, ../sass/bootstrap/_navs.scss */
.tabs-stacked .open > a:hover,
.tabs-stacked .open > a:focus {
  border-color: #999999;
}

/* line 288, ../sass/bootstrap/_navs.scss */
.tabbable {
  *zoom: 1;
}
/* line 15, ../sass/bootstrap/_mixins.scss */
.tabbable:before, .tabbable:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../sass/bootstrap/_mixins.scss */
.tabbable:after {
  clear: both;
}

/* line 291, ../sass/bootstrap/_navs.scss */
.tab-content {
  overflow: auto;
}

/* line 298, ../sass/bootstrap/_navs.scss */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

/* line 304, ../sass/bootstrap/_navs.scss */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

/* line 308, ../sass/bootstrap/_navs.scss */
.tab-content > .active,
.pill-content > .active {
  display: block;
}

/* line 316, ../sass/bootstrap/_navs.scss */
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

/* line 319, ../sass/bootstrap/_navs.scss */
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

/* line 323, ../sass/bootstrap/_navs.scss */
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
/* line 326, ../sass/bootstrap/_navs.scss */
.tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus {
  border-bottom-color: transparent;
  border-top-color: #ddd;
}

/* line 333, ../sass/bootstrap/_navs.scss */
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

/* line 342, ../sass/bootstrap/_navs.scss */
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

/* line 346, ../sass/bootstrap/_navs.scss */
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

/* line 353, ../sass/bootstrap/_navs.scss */
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

/* line 358, ../sass/bootstrap/_navs.scss */
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 363, ../sass/bootstrap/_navs.scss */
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

/* line 368, ../sass/bootstrap/_navs.scss */
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: white;
}

/* line 374, ../sass/bootstrap/_navs.scss */
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

/* line 379, ../sass/bootstrap/_navs.scss */
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* line 384, ../sass/bootstrap/_navs.scss */
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

/* line 389, ../sass/bootstrap/_navs.scss */
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: white;
}

/* line 400, ../sass/bootstrap/_navs.scss */
.nav > .disabled > a {
  color: #999999;
}

/* line 405, ../sass/bootstrap/_navs.scss */
.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}

/* line 11, ../sass/byutickets.sass */
html {
  background-color: #002255;
}

/* line 14, ../sass/byutickets.sass */
html body {
  background-color: white;
}

/* line 17, ../sass/byutickets.sass */
body #content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 20, ../sass/byutickets.sass */
header #header-top {
  border-top: 1px solid transparent;
  height: 45px;
}

/* line 24, ../sass/byutickets.sass */
#search-container {
  opacity: 0;
}

/* line 27, ../sass/byutickets.sass */
#search-menu, #logo {
  display: none;
}

/* line 30, ../sass/byutickets.sass */
#site-name {
  height: 40px;
  background: url(../img/byutickets.svg) 0px 10px no-repeat;
  display: block;
  position: relative;
  background-size: 100%;
}

/* line 37, ../sass/byutickets.sass */
#site-name, .ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -999em;
}
/* line 43, ../sass/byutickets.sass */
#site-name:before, .ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 52, ../sass/byutickets.sass */
body #page-footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#dddddd, #cccccc);
  background-image: -moz-linear-gradient(#dddddd, #cccccc);
  background-image: -o-linear-gradient(#dddddd, #cccccc);
  background-image: linear-gradient(#dddddd, #cccccc);
  border-bottom: none;
  border-top-color: #cccccc;
}
/* line 57, ../sass/byutickets.sass */
body #page-footer a, body #page-footer a:link {
  color: #666666;
}
/* line 59, ../sass/byutickets.sass */
body #page-footer a:hover, body #page-footer a:focus {
  color: #222222;
}
/* line 61, ../sass/byutickets.sass */
body #page-footer a:visited {
  color: #777777;
}
/* line 64, ../sass/byutickets.sass */
body #page-footer #footer-links {
  border-bottom: none;
}

/* line 68, ../sass/byutickets.sass */
#footer-bottom {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #001948), color-stop(50%, #002255));
  background-image: -webkit-linear-gradient(#001948, #002255 50%);
  background-image: -moz-linear-gradient(#001948, #002255 50%);
  background-image: -o-linear-gradient(#001948, #002255 50%);
  background-image: linear-gradient(#001948, #002255 50%);
  border-top-color: #666666;
}

/* line 76, ../sass/byutickets.sass */
ul.tabs.primary {
  position: absolute;
  top: -10px;
  right: 0;
  border-bottom: none;
}
/* line 82, ../sass/byutickets.sass */
ul.tabs.primary li a {
  border: 1px solid #4477aa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #002255;
  background-color: #e0edf9;
}
/* line 87, ../sass/byutickets.sass */
ul.tabs.primary li a:hover {
  background-color: #d1e4f6;
}
/* line 89, ../sass/byutickets.sass */
ul.tabs.primary li.active a {
  border: none;
  color: #999999;
  background: white;
}

/* line 98, ../sass/byutickets.sass */
.content .get-tickets {
  display: inline-block;
  margin-bottom: 1em;
}

/* line 106, ../sass/byutickets.sass */
.venue {
  margin-top: 2em;
}
/* line 109, ../sass/byutickets.sass */
.venue.nav {
  width: 20%;
  min-width: 9em;
  float: left;
}
/* line 114, ../sass/byutickets.sass */
.venue.tab-content {
  padding-left: 5%;
}
/* line 117, ../sass/byutickets.sass */
.venue.tab-content .sectionTitle {
  margin-top: 0.25em;
}

@media all and (min-width: 300px) {
  /* line 132, ../sass/byutickets.sass */
  html body {
    background: url(../img/carbon_fibre.png);
  }

  /* line 135, ../sass/byutickets.sass */
  #search-menu {
    display: block;
  }

  /* line 137, ../sass/byutickets.sass */
  header #header-top {
    height: 50px;
  }

  /* line 139, ../sass/byutickets.sass */
  #site-name {
    background-position: 0px 13px;
    max-width: 275px;
  }
}
@media all and (min-width: 600px) {
  /* line 153, ../sass/byutickets.sass */
  #site-name {
    max-width: 315px;
    height: 50px;
  }

  /* line 156, ../sass/byutickets.sass */
  header #header-top {
    height: 60px;
  }
}
@media all and (min-width: 899px) {
  /* line 164, ../sass/byutickets.sass */
  #site-name {
    max-width: 360px;
  }

  /* line 166, ../sass/byutickets.sass */
  header #header-top {
    height: 30px;
  }

  /* line 168, ../sass/byutickets.sass */
  body .nav-container {
    top: 69px;
  }

  /* line 170, ../sass/byutickets.sass */
  #search-menu {
    right: 0;
    top: 0;
  }
  /* line 173, ../sass/byutickets.sass */
  #search-menu .menu-button {
    display: block;
  }
}
@media all and (min-width: 960px) {
  /* line 180, ../sass/byutickets.sass */
  header #header-top {
    height: 70px;
  }

  /* line 182, ../sass/byutickets.sass */
  body .nav-container {
    top: 69px;
  }
}
@media all and (min-width: 1146px) {
  /* line 191, ../sass/byutickets.sass */
  header #header-top h1 {
    margin-left: 0px;
  }
}
