// home.jade

ul#sports
	li
		a(href="#football")
			.sport Football
			a.tickets(href="#tickets")
	li
		a(href="#basketball-m")
			.type Men's
			.sport Basketball
			a.tickets(href="#tickets")
	li 
		a(href="#volleyball-w")
			.type Women's
			.sport Volleyball
			a.tickets(href="#tickets")
	li
		a(href="#soccer-w")
			.type Women's
			.sport Soccer
			a.tickets(href="#tickets")
